# Jekyll-related files and directories
_site/
.bundle/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/

# System and editor-specific files
.DS_Store
.idea/

# Ruby and Gem files
.ruby-version
Gemfile.lock

# Cache and temporary files
.tweet-cache/

# Node.js and package files
node_modules/

# Assets and libraries
assets/libs/

# Miscellaneous
vendor/

# Python virtual environment
venv/